---
import Layout from "@/layouts/Layout.astro";
import { getAllPosts, getPostBySlug } from "@/lib/posts";
import { BlogPostWrapper } from "@/components/BlogPostWrapper";

export const prerender = true;

export async function getStaticPaths() {
	const posts = await getAllPosts();
	return posts.map((p) => ({ params: { slug: p.slug } }));
}

const { slug } = Astro.params;
const post = await getPostBySlug(slug!);
---

<Layout>
	{
		post ? (
			<BlogPostWrapper
				client:only="react"
				title={post.frontmatter.title}
				date={post.frontmatter.date}
				excerpt={post.frontmatter.excerpt}
				tags={post.frontmatter.tags}
			>
				<post.Content />
			</BlogPostWrapper>
		) : (
			<div class="max-w-2xl mx-auto p-8 text-center">Post not found.</div>
		)
	}
</Layout>
